<% categorias = CategoriaAreaActuacion.order(:nombre).collect{|c| [c.nombre, c.id]} %>
<%= comienzo_formulario( { :action => 'modificar_crear', :id => @dato_basico }, false ) %>
  <div class="fila">
    <%= texto _("Nombre"), 'dato_basico', 'nombre', "3_2", obligatorio: true %>
    <%= selector _("Categoría"), 'dato_basico', 'categoria_area_actuacion_id', categorias, true, "3_2" %>
  </div><div class="fila"> 
    <%= texto _("Descripción"), 'dato_basico', 'descripcion', "4" %>
    <%= hidden_field_tag(:nombre_dato_basico, params[:nombre_dato_basico] ) %>
  </div>
<%= final_formulario %>
