<%= formulario_comienzo url: { action: 'modificar_crear_indicador_general', id: @igxp.indicador_general_id, update: params[:update] } %>
  <div class="fila">
    <%= selector _('Indicador'), 'igxp', 'indicador_general_id', @indicadores, false , '1', {selected: @igxp.indicador_general_id}  %>
  </div>
  <div class="fila">
    <%= texto _("Herramienta de Medición"), 'igxp', 'herramienta_medicion', '2' %>
    <%= texto _("Fuente de Información"), 'igxp', 'fuente_informacion', '2' %>
  </div>
  <div class="fila">
    <%= texto_area _("Contexto"), 'igxp', 'contexto', "4" %>
  </div>
  <% etiqueta_unidades = ( @igxp.indicador_general ? " (#{@igxp.indicador_general.unidad})" : "" ) %>
  <div class="fila">
    <%= texto _("Valor Base") + etiqueta_unidades, 'valor_base', 'valor', '1' %>
    <%= calendario_fecha _("Fecha Base"), 'valor_base', 'fecha', class: 'fecha' %>
    <%= texto _("Comentario"), 'valor_base', 'comentario', '2' %>
  </div>
  <div class="fila">
    <%= texto _("Valor Objetivo") + etiqueta_unidades, 'valor_objetivo', 'valor', '1' %>
    <%= calendario_fecha _("Fecha Objetivo"), 'valor_objetivo', 'fecha', class: 'fecha' %>
    <%= texto _("Comentario"), 'valor_objetivo', 'comentario', '2' %>
  </div>
<%= formulario_final %>

