<% porcentajes = Array.new (21) {|x| [(x * 5).to_s + "%", ((x * 0.05).to_s + "00").to_f ]} %>
<%= formulario_comienzo :url => { :action => 'crear_modificar_subactividad', :id => @subactividad.id, :actividad_id => params[:actividad_id], :update => params[:update_listado]} %>

  <% if params[:menu] == "ejecucion_tecnica" %>
    <div class="elemento4">
      <%= _("Descripci贸n") + ": " %><strong><%= @subactividad.descripcion %></strong>
    </div>
    <% if @subactividad.descripcion_detallada != "" %>
      <div class="elemento4">
        <%= _("Descripci贸n detallada") + ": " %><strong><%= @subactividad.descripcion_detallada %></strong>
      </div>
    <% end %>
    <div class="fila"><br/></div>
    <%# texto_area( _("Comentarios a la ejecucion"), 'subactividad', 'comentarios_ejecucion', '2') %>
    <%# texto _("Responsables"), 'subactividad', 'responsables_ejecucion', '4' %>
    <div class="fila"><br/></div>
    <%# selector( _("Estado"), "subactividad", 'estado', [["Abierta","abierta"],["En curso","curso"],["Cerrada","cerrada"]] , false, "1_2") %>
    <%# selector( _("% cumplimiento"), "subactividad", 'porcentaje_cumplimiento', porcentajes, false, "1_2") %>
    <div class="fila"><br/></div>
  <% else %>
    <%= texto _("Descripci贸n"), 'subactividad', 'descripcion', '4' %>
    <%= texto _("Responsables"), 'subactividad', 'responsables_ejecucion', '4' %>
    <div class="fila"><br/></div>
    <%= texto_area( _("Descripci贸n detallada"), 'subactividad', 'descripcion_detallada', '2') %>
    <%= texto_area( _("Comentarios para la ejecucion"), 'subactividad', 'comentarios_ejecucion', '2') %>
  <% end %>

<%= formulario_final %>
