
<div id='<%= params[:update] %>_indicador' class="linea"><%= render :partial => "indicadores", :locals => { :update_listado => params[:update] + "_indicador" } %></div>

<div id='<%= params[:update] %>_fuentes_verificacion' class="linea"><%= render :partial => "fuentes_verificacion", :locals => { :update_listado => params[:update] + "_fuentes_verificacion" } %></div>

<div id='<%= params[:update] %>_hipotesis' class="linea"><%= render :partial => "hipotesis", :locals => { :update_listado => params[:update] + "_hipotesis" } %></div>


