
<% unless params[:to_pdf] %>
  <fieldset id="criterios_resumen">
  <div class="legend" align= "left"><%= _("Seleccionar los criterios") %></div>
  <%= form_tag( { :action => "informe_final"}, :multipart => true, :class => "formulario" ) %>
    <%= selector(_('PAC'), '', 'pac', @listado_pac, false, '1', {:selected => params[:pac].to_i }) if @proyecto.convenio? %>
    <div class="fila">
      <%= checkbox _("Sacar el resultado a fichero "), 'selector', 'fichero', "1", {:izquierda => true, :abajo => true}  %>
            <%= observe_field( "selector_fichero" , :function => '
          selector = document.getElementById("selector_fichero");
          if( selector.checked ) {
            Element.show("tipo_fichero");
          }else { Element.hide("tipo_fichero"); }
      ' ) %>
      <div id="tipo_fichero" style="display:none">
      <%= selector(_('Tipo de fichero '), 'selector', 'tipo', [[_("pdf"), "pdf"]], false, '1', {:selected => (params[:selector][:tipo] if params[:selector])})  %>
    </div>
  <div class="elementoderecha1_2"> <%= submit_tag(_("Mostrar"), :class => "boton1_2") %></div>
  </form>
  </fieldset>
<% end %>
<br/>

<!-- PORTADA-->
<div class="fieldset">
  <div class="legend" align= "center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <img src="/images/logoONG.png" alt="Logo ONG" width="221px" height="95px" > 
    <% if @documento %>
    <%= image_tag(logo_financiador_path(@documento.id.to_s), size: "221x95")%> 
    <% end %>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>INFORME TÉCNICO FINAL DEL PROYECTO</h2>
    <br/>
    <br/>
    <br/>
    <br/>
    <h3><%= @proyecto.titulo.upcase %></h3>
    <br/>
    <h3><%= @proyecto.nombre %></h3>
    <br/>
    <h4><%= @list_implementadores.join(', ') %></h4>
    <br/>
    <h4><%= Time.now.strftime('(%d/%m/%Y)') %></h4>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <br>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!-- RESUMEN EJECUTIVO-->
<% @resumen_ejecutivo.each do |resumen| %>
  <% if resumen[:listado][:lineas] %>
    <div class="fieldset">
      <div class="legend" align= "left">
        <%= _("FICHA EJECUTIVA DEL PROYECTO") %>
      </div>
      <br>

      <%= dibuja_tabla resumen[:listado][:lineas] unless resumen[:listado][:resumen_error] %>
      <%= mensaje_error resumen[:listado][:resumen_error] if resumen[:listado][:resumen_error] %>

    </div>
  <% end %> 
<% end if @resumen_ejecutivo %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!-- DATOS INFORMACION PROYECTO-->
<%= comienzo_listado %>
<% for grupo in @grupos_datos %>
<br/>
  <div class="filacabecera">
    <!--<%= (fila_listado grupo, [[_("Nombre"),'1','nombre']], "grupo").upcase %>-->
    <div class="elemento_listado elemento1" title='grupo'><%= grupo.nombre.to_s.upcase %></div> 
  </div>

  <% datos = @proyecto.datos_dinamicos grupo %>
  <% for dato in datos %>
    <fieldset>
      <div class="legend"><%= dato.definicion_dato.rotulo %></div>
      <div class="linea" %>
        <%= (dato.dato||"&nbsp;").html_safe %>
      </div>
    </fieldset>
    <br/>
  <% end %>

<% end if @grupos_datos %>
<%= final_listado %>

<!-- MATRIZ -->
<% @resumen_matriz.each do |resumen| %>
  <% if resumen[:listado][:lineas] %>
    <div class="fieldset">
      <div class="legend" align= "left">
        MATRIZ DE SEGUIMIENTO<br>
        País: Todos<br>
        Etapa: Todas<br>
        <div class = "linea"></div></br>
      </div>
      <br>

      <%= dibuja_tabla resumen[:listado][:lineas] unless resumen[:listado][:resumen_error] %>
      <%= mensaje_error resumen[:listado][:resumen_error] if resumen[:listado][:resumen_error] %>

    </div>
  <% end %> 
<% end if @resumen_matriz %>
<br/>

<!-- SEGUIMIENTO TÉCNICO -->
<% @oe.each do |objetivo| %>
  <div class="fieldset">
    <div class="legend" align= "left">
      SEGUIMIENTO TÉCNICO<br />
      <br />
      <%= _("Objetivo Específico") + ": " +  objetivo.codigo %>
      <% if @proyecto.convenio? %>
        &nbsp;(<%= objetivo.proyecto.nombre %>)
      <% end %>
      <div class = "linea"></div>
      <%= objetivo.descripcion %>
      <div class = "linea"></div><br/>
      <%= _("Periodo") + ": " + @proyecto.fecha_de_inicio.strftime('%d/%m/%Y') + " - " + @fecha_de_fin.strftime('%d/%m/%Y') %>
    </div>
    <%= render :partial => "indicadores_no_coment", :locals => {:objeto => objetivo} %>
    <%= render :partial => "fuentes_verificacion", :locals => {:objeto => objetivo} %>

    <% @resultados.each do |resultado| %>
      <% if resultado.objetivo_especifico_id == objetivo.id %>
        <br/><h2><%= _("Resultado") + ": " + resultado.codigo %></h2>
        <%= resultado.descripcion %><br/>
        <%= render :partial => "indicadores_no_coment", :locals => {:objeto => resultado} %>
        <%= render :partial => "fuentes_verificacion", :locals => {:objeto => resultado} %>
        <%= render :partial => "actividades_no_coment", :locals => {:resultado => resultado} %>
      <% end %>
    <% end %>
  </div>
  <br/>
<% end if @oe && !@oe.empty? %>

<!-- CRONOGRAMA -->
<div class="fieldset">
<div class="legend" align= "left">
  CRONOGRAMA DE SEGUIMIENTO<br>
  <div class = "linea"></div></br>
</div>
<br />
<% if @etapa && @actividades %>
  <%= cronograma_inicio :etiqueta => _("Actividad"), :duracion => @etapa.periodos, :fecha_inicio => @etapa.fecha_inicio, :sin_truncar => true %>
    <% @actividades.each do |actividad| %>
      <!-- Linea de la actividad con sin_truncar=true -->
      <%= cronograma_actividad @etapa, actividad, true %>
      <!-- Listado de subactividades con sin_truncar=true -->
      <% actividad.subactividad.each do |subactividad| %>
        <%= cronograma_subactividad @etapa, actividad, subactividad, true %>
      <% end %>
    <% end %>
  <%= cronograma_fin %>
<% end %>
</div>
</div>
<br />

<!-- GASTO POR PARTIDAS TODOS LOS FINANCIADORES-->
<%= resumen @tablas_partidas_todos.first, :sin_truncar => true %>
<br />

<!-- GASTO POR PARTIDAS FINANCIADOR PRINCIPAL-->
<%= resumen @tablas_partidas.first, :sin_truncar => true %>
<br />

<!-- GASTO POR PARTIDAS OTROS FINANCIADORES-->
<%  @tablas_partidas_otros.each do |tablas| %>
<%= resumen tablas.first, :sin_truncar => true %>
<% end %>
<br />

<!-- GASTO POR ACTIVIDADES TODOS LOS FINANCIADORES-->
<%= resumen @tablas_actividades_todos.first, :sin_truncar => true %>
<br />

<!-- GASTO POR ACTIVIDADES FINANCIADOR PRINCIPAL-->
<%= resumen @tablas_actividades.first, :sin_truncar => true %>
<br />

<!-- GASTO POR ACTIVIDADES OTROS FINANCIADORES-->
<%  @tablas_actividades_otros.each do |tablas| %>
<%= resumen tablas.first, :sin_truncar => true %>
<% end %>
<br />

<!-- TEXTO INFERIOR Y FIRMA -->
<br />
<fieldset>
<br />
<b><u> DECLARACIÓN RESPONSABLE </u></b>
<br />
<br />
<p>La persona que suscribe, como Responsable Técnico de la ejecución del proyecto "<%= @proyecto.titulo + " (" + @proyecto.nombre + ")" %>" declaro que son ciertos cuantos datos figuran en el presente documento de formulación del proyecto.</p>
<br />
<p>En la ciudad de _________________________________________________, a los ______ días del mes de ___________________________ del ____________</p>

<div class="elemento2">
  <fieldset>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    El coordinador/a del Proyecto
  </fieldset>
</div>
<div class="elemento2 elementoderecha">
  <fieldset>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    El Director/a Responsable 
  </fieldset>
</div>

</fieldset>
<br />
