<fieldset id="criterios_resumen">
<div class="legend" align= "left"><%= _("Seleccionar los criterios") %></div>
<%= form_tag( { :action => "presupuesto_detallado"}, :multipart => true, :class => "formulario" ) %>
  <%= selector _('Etapa'), '', 'etapa', @listado_etapa, false, '3_4', {:selected => params[:etapa].to_i} %>
  <%= selector _('Partida/Actividad'), '', 'partida_actividad', @listado_tipos, false, '1', {selected: params[:partida_actividad]} %> 

  <div class="fila"><br/></div>
  <%= checkbox _("Sacar el resultado a fichero "), '', 'fichero', "1", {:izquierda => true, :abajo => true}  %>

<div class="elementoderecha"> <%= submit_tag(_("Buscar"), :class => "boton1_2") %></div>
</form>
</fieldset>

<% for tabla in @tablas %>
  <%= resumen(tabla) %>
<% end  unless @tablas.nil? %>

<!-- Ocultamos la suma de la fila de totales acumulados -->
<style>#fila_dif_acumula_suma{display:none;}</style>
