<!-- Formulario Selector de Nuevo Movimiento-->

<%= formulario_comienzo %>
  <div style = "text-align:center;"><%= _("Añadir Nuevo Movimiento") %><br/></div>
  <%= selector( _("Tipo de Movimiento"), 'nuevo_tipo', 'transferencia', tipos, true, "3_4" ) %>
    <%= observe_field( "nuevo_tipo_transferencia", :url => {:action => "editar_nuevo", :form_update => "formulario_nueva_transferencia", :update_listado => params[:update_listado], :update => params[:update], :i => params[:i]} , :with => "nuevo_tipo" , :loading => "Element.show('espera')", :complete => "Element.hide('espera')") %>
<%= formulario_final nil %>
