<%= cabecera_listado campos_listado( "proyecto_cofinanciador" ), _( "Añadir proyecto_ cofinanciador"), {:action => 'editar_nuevo_proyecto_confinanciador'}, {:id => "proyecto_cofinanciador_anadir"}   %>

<% i = 0 %>
<% for proyecto_cofinanciador in @proyectos_cofinanciadores %>
<div id="etapa_<%= i += 1 %>" class="fila" >
    <%= fila_listado proyecto_cofinanciador, campos_listado( "proyecto_cofinanciador" ), "proyecto_cofinanciador" + i.to_s %>
    <div class="elementoderecha">
       <%= modal( icono( "editar"), {:action => 'editar_nuevo_proyecto_confinanciador', :id => proyecto_cofinanciador}, _( "Editar proyecto_cofinanciador"), :id => ("proyecto_cofinanciador_" + i.to_s + "_editar") ) %>
       <%= modal_borrado icono("borrar", _("Eliminar proyecto cofinanciador")), { :action => 'eliminar_proyecto_cofinanciador', :id => proyecto_cofinanciador.id }, _('Eliminar el proyecto_cofinanciador'), proyecto_cofinanciador.proyecto_cofinanciador.nombre, :id => ("etapa_" + i.to_s + "_borrar") %>   
    </div>
    <div class="linea"></div>
</div>
<% end %>
<%= final_listado %>
