<% update = update_listado + "_permiso" %>
<% opciones_sublistado = { campos_listado: campos_listado('permiso_x_rol') } %>
<% opciones_sublistado[:anadir] = { url: {action: 'editar_nuevo_permiso', update: update + "_formulario_anadir", update_listado: update, id: params[:id]} } %>
<div id="<%= update %>">
  <%= comienzo_sublistado _("Permisos para el rol"), update, opciones_sublistado %>
    <div id="<%= update %>_formulario_anadir"></div>
    <% for permiso in @permisos %>
      <%= render :partial => "permiso", :locals => { update_listado: update, permiso: permiso } %>
    <% end %>
  <%= final_sublistado %>
  <br>
</div>
