<div id="nuevos_roles" style="display:none">
  <%= cabecera_listado campos_listado("rol")%>
  <div id="rol_nuevo_1"></div>
  <%= final_listado %>
  <%= mensaje _("El listado nuevos roles (arriba) se ordenará en el listado principal (abajo) cuando vuelva a refrescar la página") %>
  <div class="linea"></div>
</div>

<div id="formulario_anadir" class="linea"></div>

<%= listado campos_listado("rol"), :url =>  {:action => 'editar_nuevo', :i => 1, :update => "formulario_anadir"}  %>
  <% i = 0 %>
  <% for @rol in @roles %>
   <% i += 1 %>
   <%= render :partial => "rol", :locals => {:update => "rol_" + i.to_s } %>
  <% end %>
<%= final_listado %>

