<div id="nuevas_subcuentas" style="display:none">
  <%= cabecera_listado campos_listado("subcuenta_contable")%>
  <div id="subcuenta_nueva_1"></div>
  <%= final_listado %>
  <%= mensaje _("El listado nuevas subcuentas contables (arriba) se ordenara en el listado principal (abajo) cuando vuelva a refrescar la página") %>
  <div class="linea"></div>
</div>

<div id="formulario_anadir" class="linea"></div>

<%= listado campos_listado("subcuenta_contable"), :url =>  {:action => 'editar_nuevo', :i => 1, :update => "formulario_anadir"}  %>
  <% i = 0 %>
  <% for @subcuenta in @subcuentas %>
   <% i += 1 %>
   <%= render :partial => "subcuenta", :locals => {:update => "subcuenta_" + i.to_s } %>
  <% end %>
<%= final_listado %>

