<%= comienzo_sublistado _("Proyectos"), update_listado %>

<% i = 0 %>
<% for proyecto in @proyectos %>
   <% proyecto_id = params[:update] +"_proyectos_" + (i += 1).to_s %>
   <div  id="<%= proyecto_id %>" class="fila" >
    <%= fila_listado proyecto, campos_listado("proyecto_resumido"), proyecto_id %>
    <div class="elementoderecha">
      <%= ventana_info_popup proyecto, {:campos => campos_listado("proyecto") + campos_info("proyecto"), :id => proyecto_id + "_informacion" } %>
      <%= link_to( icono( "seleccionar", _("Seleccionar Proyecto") + " " + proyecto.nombre ), proyecto_path(proyecto), :id => proyecto_id + "_seleccionar" ) %>
    </div>
    <div class="linea"></div>
   </div>
<% end %>
<%= final_sublistado %>
<br>


